.url {
	font-size: 20px;
	
}

.about {
	font-size: 20px;
	
}

.music {
	background: url(https://vaporwavefoxx.github.io/images/music_img.jpg);
	width: 250px;
	height: 253px;
	opacity: 0.9
}

.back {
	background: url(https://vaporwavefoxx.github.io/images/back_img.jpg);
	
}
