.url {
	font-size: 20px;
	
}

.about {
	font-size: 20px;
	
}

.music {
	background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2y_g7Uul5Fflv8mRi-u7DLhk-Uo-hCCZcSJCtI7GdD_0nElFI);
	width: 250px;
	height: 253px;
	opacity: 0.9
}

.back {
	background: url(https://c1.staticflickr.com/8/7125/27982409945_f514992e3e_b.jpg);
	
}
